{% extends 'base.html.twig' %}

{% block title %}Success!{% endblock %}

{% block body %}
    <p class="text-center mt-20 text-3xl">Payment Successful!</p>
    <p class="text-center mt-20 text-3xl">Thank You for your service.</p>
{% endblock %}