<a href="/course/{{ course.id }}">
    <div class="border border-black rounded-md">
        <img class="img-fluid" src="{{ asset('images/00XYYx07y2uMHgJdQUPzkZ5-2..v1571880696.jpg') }}" alt="course image">
        <div class="flex justify-between border-t border-black h-16 items-center">
            <p> <span class="text-gray-400 text-xs">Course:</span> {{ course.title }}</p>
            <p> <span class="text-gray-400 text-xs">Category:</span> {{ course.category.name }}</p>
        </div>
    </div>
</a>